.git
.github
.idea
.vscode
_build-msys2
build
**/build
**/*.o
**/*.obj
**/*.exe
**/*.dll
**/*.pdb
**/*.log
**/.DS_Store
**/node_modules
src/gui/geoip/GeoIP.dat
src/gui/geoip/GeoIP.dat.gz
src/base/version.h
